body{ margin:0px; padding:0px; }
input[type="text"]{ border:solid 1px #222; background:#fff; width:250px;  height:25px; outline:none; text-indent:20px; color:#999;}
body > p{font-family:Arial, Geneva, sans-serif; font-size:16px; color:#333; line-height:25px;}

table{ border-spacing: 0; border-collapse: collapse; border:solid 1px #E1E4E5; font-size:14px;}
table tr:first-child th, table tr:first-child td{ border-bottom:solid 2px #E1E4E5; font-weight:bold; font-size:14px;}
table tr:first-child th{background-color:#F3F6F6; padding:10px 20px 10px 20px; color:#000; font-size:14px;}
th{ text-align:left; padding:5px 20px 5px 20px; background-color:#fff; color:#555; border:solid 1px #E1E4E5; font-size:14px;}
td{ padding:5px 20px 5px 20px; border:solid 1px #E1E4E5; font-size:14px;}
tr:nth-child(odd) th{background-color:#F3F6F6; font-size:14px;}

tr:nth-child(odd) td{ background-color:#F3F6F6;  font-size:14px;}

tr:nth-child(even) td{ background-color:#fff;  font-size:14px;}

if{color:#F00; }
cf{font-family:"Courier New", Courier, monospace; font-size:16px;}
vf{font-family:"Courier New", Courier, monospace; font-size:16px; color:#06F;}
ff{font-family:"Courier New", Courier, monospace; font-size:16px; color:#00F;}
sf{font-family:"Courier New", Courier, monospace; font-size:16px; color:#C00;}
kf{font-family:"Courier New", Courier, monospace; font-size:16px; color:#060;}
tf{ color:#933;}
gf{ color:#999;}
pf{ color:#000; font-weight:100;}

ftype pf{ color:#900; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold;}
ftype{font-family:"Courier New", Courier, monospace; font-size:16px; background:#eee; border-top:solid 5px #13A7C7; padding:5px 5px 5px 5px; font-weight:bold;}

comment{ color:#999;}
.site-bg-color{ background-color:#222;}

.black-font-color{ color:#000;}
.site-font-color{ color:#13A7C7;}
.white-font-color{ color:#fff;}


.title-font{ font-family:Arial, Geneva, sans-serif; font-size:16px; font-weight:bold;}
.sub-title-font{ font-family:Arial, Geneva, sans-serif; font-size:14px; font-weight:bold;}
.footer-title-font{font-family:Arial, Geneva, sans-serif; font-size:12px; color:#fff;}
.menu-font{ font-family:Arial, Geneva, sans-serif; font-size:14px; color:#CCC;}
.code-font{ font-family:"Courier New", Courier, monospace; font-size:12;}
.ctfont{ font-family:Arial, Geneva, sans-serif; font-size:30px; font-weight:bold; color:#0E778D;}
.cstfont{ font-family:Arial, Geneva, sans-serif; font-size:23px; font-weight:bold; color:#13A7C7;}
.cfont{ font-family:Arial, Geneva, sans-serif; font-size:16px; color:#333; line-height:25px;}

.searchfont{ font-family:Arial, Geneva, sans-serif; font-size:20px; color:#13A7C7;}
div[type="search"]{ border:solid 1px #ddd; padding:12px 12px 12px 12px; word-wrap:break-word; margin-bottom:20px;}

.varfont{ color:#06F;}
.funcfont{ color:#00F;}
.strfont{  color:#C00;}
.keyfont{  color:#060;}
.bgreen{  color:#690;}
.green{  color:#9C3;}
.orange{ color:#FC3}
.borange{ color:#F60}
.infont{color:#0E778D; font-weight:bold;}
.sitefont{ color:#13A7C7;}

.clear{ clear:both;}

a{font-family:Arial, Geneva, sans-serif; font-size:16px; color:#13A7C7; text-decoration:none;}
a:hover{color:#0E778D;}

a[type="code"]{font-family:"Courier New", Courier, monospace; font-size:16px; color:#13A7C7; text-decoration:none;}
a[type="code"]:hover{color:#0E778D;}


div[type="code"], pre{ font-family:"Courier New", Courier, monospace; font-size:16px; border:solid 1px #ddd; padding:12px 12px 12px 12px; word-wrap:break-word;}

div[type="note"] div:first-child{ background:url(../Images/Icons/button-round-warning-icon.png); background-repeat:no-repeat; font-family:Arial, Geneva, sans-serif; font-size:16px; color:#fff; padding:8px 12px 6px 32px; background-color:#13A7C7; font-weight:bold;}
div[type="note"] div:last-child{  font-family:Arial, Geneva, sans-serif; font-size:16px; color:#333;  padding:12px 12px 12px 12px; background-color:#ddd; word-wrap:break-word;}

div[type="important"] div:first-child{ background:url(../Images/Icons/button-warning-icon.png); background-repeat:no-repeat; font-family:Arial, Geneva, sans-serif; font-size:16px; color:#fff; padding:8px 12px 6px 32px; background-color:#E2284C; font-weight:bold;}
div[type="important"] div:last-child{  font-family:Arial, Geneva, sans-serif; font-size:16px; color:#333;  padding:12px 12px 12px 12px; background-color:#ddd; word-wrap:break-word;}


#header{ height:40px; background-color:#222;}
div[header="title"]{ position:absolute; margin-top:12px; margin-left:42px;}
div[header="logo"]{ position:absolute; margin-top:5px; margin-left:5px;}
#right{ float:left; margin:20px 20px 20px 20px;}
#left{ float:left; width:290px;}
#search{ height:100px; background:#13A7C7;}
div[search="logo"] div{ position:absolute; }
div[search="logo"] div[type="logo-img"]{}
div[search="logo"] div[type="logo-text"]{ margin-left:30px; margin-top:5px;}
div[search="logo"]{ width:200px; position:absolute; margin:15px 0 0 75px;}
div[search="text"]{ position:absolute; margin:55px 0 0 18px;}

#menu{ margin-top:20px;}



#home-menu{ list-style-type:none; padding:0px; margin:0px;}
#home-menu li a{ display:block; padding:10px 10px 10px 10px; font-family:Arial, Geneva, sans-serif; font-size:14px; color:#CCC; text-decoration:none;}
#home-menu li a:hover{ background-color:#13A7C7; color:#fff; }

#home-menu li:hover ul{ display:block; background-color:#13A7C7; color:#fff;}
#home-menu li:hover ul li a{color:#000;}
#home-menu li:hover ul li a:hover{color:#fff;}

#sub-menu{list-style-type:none; padding:0px; margin:0px; background-color:#13A7C7; }
#sub-menu li{padding:0px 0px 0px 30px;}
#sub-menu li a{ font-family:Arial, Geneva, sans-serif; font-size:14px; color:#000; text-decoration:none;}
#sub-menu li a:hover{ color:#fff;}

#content{ margin-top:20px;}
#content-document{ height:40px; border-bottom:solid 1px #ddd; padding-bottom:20px; font-family:Arial, Geneva, sans-serif; font-size:14px; color:#333}
#content-footer{ height:40px; border-top:solid 1px #ddd; padding-top:40px;}

#content-document a{font-family:Arial, Geneva, sans-serif; font-size:14px; color:#13A7C7; text-decoration:none;}
#content-document a:hover{color:#0E778D;}

div[type="prev-next"]{ margin-top:30px;}
div[type="prev-next"] a{ display:block; width:100px; height:25px; padding-top:10px; background-color:#13A7C7; border-bottom:solid 2px #0E778D; color:#fff; text-align:center;}
div[type="prev-next"] a:hover{background-color:rgba(1,90,130,.7);}
div[type="prev-btn"]{ float:left; }
div[type="next-btn"]{ float:right; }

ul[content="list"] li{ padding-top:5px;}
ul[content="list"] a{ font-family:Arial, Geneva, sans-serif; font-size:16px; color:#13A7C7; text-decoration:none;}
ul[content="list"] li a:hover { color:#000;}

#footer{ height:40px; background-color:#222; text-align:center;}
#footer div{ width:1000px; margin:0px auto; padding-top:14px;}
