#----------------------------------------------------------------------------------------------------
# This file automatically created and updated
#----------------------------------------------------------------------------------------------------

<ifmodule mod_headers.c>
	Options -Indexes
</ifmodule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$  /zeroneed/zeroneed.php/$1 [L]
</IfModule>

ErrorDocument 403 /zeroneed/zeroneed.php

DirectoryIndex zeroneed.php

#----------------------------------------------------------------------------------------------------