<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="Internal/package-tests/bootstrap"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="ZN">
            <directory suffix="Test.php">Internal/package-tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Internal</directory>
            <exclude>
                <directory>./Internal/composer</directory>
                <directory>./Internal/package-composer</directory>
                <directory>./Internal/package-tests</directory>
                <file>./Internal/autoload.php</file>
                <directory>./Internal/package-authentication/Resources</directory>    
                <directory>./Internal/package-filesystem/Resources</directory>  
                <directory>./Internal/package-hypertext/Resources</directory>  
                <file>./Internal/package-hypertext/JavascriptValidationFunctions.php</file>
                <directory>./Internal/package-zerocore/ErrorHandling/Resources</directory>
                <directory>./Internal/package-zerocore/Facades</directory>
                <directory>./Internal/package-zerocore/Resources</directory>
            </exclude>
        </whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>

</phpunit>