body{ padding:0px; margin:0px;}
#logo{ position:absolute; width:600px; height:106px; left:50%; margin-left:-200px; margin-top:-90px; top:50%;}
#logo-text{ font-size:91px; color:#2C5072; }
#logo-sub-text{ color:#2C5072; font-size:16.4px; margin-left:6px; }
#logo-image{ margin-top:-220px; margin-left:115px; background:url(../Files/zeroneed4.png); width:165px; height:113px; }
.font{ font-family:font, Caviar Dreams; }
.alpha-color{ color:#00BFFF; }