html, body{height: 100%;}
body{margin: 0;padding: 0;width: 100%;display: table;font-weight: lighter;font-family: 'Lato', sans-serif;}
#container{text-align: center;display: table-cell;vertical-align: middle;}
#content{font-family: 'Sarpanch', cursive; text-align: center;display: inline-block; color:#97999c; font-size: 28px; z-index:9;}