#----------------------------------------------------------------------------------------------------
# Denied entry to this directory and its subdirectories
#----------------------------------------------------------------------------------------------------

<FilesMatch "\.(php)$">
	Deny from all
</FilesMatch> 