#----------------------------------------------------------------------------------------------------
# Denied entry to this directory and its subdirectories
#----------------------------------------------------------------------------------------------------

allow from all