#----------------------------------------------------------------------------------------------------
# Denied entry to this directory and its subdirectories
#----------------------------------------------------------------------------------------------------

Deny from all
